<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="template/base :: head">
    </head>
    <body>
        <header th:replace="template/base :: header">
        </header>

        <div th:replace="template/base :: nav">
        </div>

        <main class="contenedor">
            <h2 th:text="${anime.name}"></h2>
            <h2 class="nombreJapones" th:text="${anime.nameJapanese}"></h2>

            <div class="anime__info">
                <div>
                    <img th:src="${anime.image}" th:alt="'Image of ' + ${anime.name}">
                </div>

                <div>
                    <p th:text="${anime.synopsis}"></p>

                    <div th:each="genre : ${genres}">
                        <a href="#" th:text="${genre.genre.name}"></a>
                    </div>

                </div>


            </div>

            <h3>Soundtrack</h3>

            <div class="anime__soundtrack">

                <div>
                    <h3>Openings</h3>

                    <div th:each="opening : ${openings}">
                        <p th:text="${opening.name}"></p>
                    </div>
                </div>

                <div>
                    <h3>Endings</h3>

                    <div th:each="ending : ${endings}">
                        <p th:text="${ending.name}"></p>
                    </div>
                </div>

            </div>


        </main>

        <footer th:replace="template/base :: footer">
        </footer>
    </body>
</html>