<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{template/base :: head}">
    </head>
    <body>
        <header th:replace="~{template/base :: header}">
        </header>

        <div th:replace="~{template/base :: nav}"></div>

        <main class="contenedor">
            <div>
                <h2>Search</h2>

                <form class="formulario" th:action="@{/animeTracker/anime/send}" method="post">
                    <fieldset>
                        <legend>Let's search an anime</legend>

                        <div class="contenedor-campos">

                            <div class="campo">
                                <label>Name</label>
                                <input class="input-text" type="text" name="name" required>
                            </div>
                        </div>

                        <div class="flex">
                            <input class="boton w-sm-100" type="submit" value="Search" />
                        </div>
                    </fieldset>
                </form>

                <h2>Search by genre</h2>

                <div class="genres" th:each="genre : ${genres}">
                    <a class="genre" th:href="@{/animeTracker/anime/animesByGenre/} + ${genre.idGenre}" >
                        <div class="boton" th:text="${genre.name}"></div>
                    </a>
                </div>

            </div>
        </main>

        <footer th:replace="~{template/base :: footer}">
        </footer>

    </body>
</html>