<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AnimeTracker</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Outfit:wght@400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />
</head>
<body>
    <header>
        <a th:href="@{/api/v2/}">
            <h1>AnimeTracker</h1>
        </a>
    </header>

    <div class="nav-bg">
        <nav class="navegacion">
            <a class="navegacion__enlace" th:href="@{anime/new}">New</a>
            <a class="navegacion__enlace" th:href="@{search}">Search</a>
        </nav>
    </div>

    <main class="contenedor">
        <main class="contenedor">
            <h2>Edit an Anime</h2>

            <form class="formulario" th:action="@{/api/v2/anime/save}" th:object="${anime}" method="post">
                <fieldset>
                    <legend>Let's edit an anime</legend>

                    <div class="contenedor-campos">

                        <div class="campo">
                            <label>Name</label>
                            <input class="input-text" type="text" th:field="*{name}" required>
                        </div>

                        <div class="campo">
                            <label>Name Japanese</label>
                            <input class="input-text" type="text" th:field="*{nameJapanese}" required>
                        </div>

                        <div class="campo">
                            <label>Status</label>
                            <input class="input-text" type="text" th:field="*{status}" required>
                        </div>

                        <div class="campo">
                            <label>Image (URL)</label>
                            <input class="input-text" type="text" th:field="*{image}" required>
                        </div>

                        <div class="campo">
                            <label>Synopsis</label>
                            <textarea class="input-text" th:field="*{synopsis}" required></textarea>
                        </div>
                    </div>

                    <div class="flex">
                        <input class="boton w-sm-100" type="submit" value="Save" />
                    </div>
                </fieldset>
            </form>

            <div>
                <h3>The importance of keeping anime records up-to-date</h3>
                <p>
                    Anime is a constantly evolving medium. New anime are released all the time, and existing anime are often updated with new information, such as new episodes, seasons, or movies. It is important to keep anime records up-to-date to ensure that users have access to the most accurate information possible.

                    There are a number of reasons why it is important to keep anime records up-to-date. First, it helps users to find the information they need. If the records are out-of-date, users may not be able to find the information they are looking for, such as the latest episode of an anime or the release date of a new season.

                    Second, it helps to maintain the integrity of the database. Out-of-date records can lead to errors in the database, which can make it difficult to access information or use the database for other purposes.

                    Third, it helps to ensure that users are aware of new anime. If the records are up-to-date, users will be able to see new anime that have been released or announced. This can help to promote new anime and encourage users to watch them.

                    There are a number of ways to keep anime records up-to-date. One way is to manually check the information on a regular basis. Another way is to use a service that automatically updates the records.

                    Manually checking the information can be time-consuming, but it is the most accurate way to ensure that the records are up-to-date. To manually check the information, you can consult the anime's official website, social media pages, and other reliable sources.

                    Using a service that automatically updates the records can save time, but it is important to make sure that the service is reliable. There are a number of services available that can automatically update anime records.

                    By taking the time to keep anime records up-to-date, you can help to ensure that users have access to the most accurate information possible. This can help to improve the user experience and promote new anime.
                </p>
            </div>

            <br>
            <br>
    </main>

    <footer class="footer">
        <p>Derechos reservados AnimeTracker</p>
    </footer>

</body>
</html>