<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AnimeTracker</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Outfit:wght@400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />
</head>
<body>
<header>
    <a th:href="@{api/v1/anime}">
        <h1>AnimeTracker</h1>
    </a>
</header>

<div class="nav-bg">
    <nav class="navegacion">
        <a class="navegacion__enlace" href="#">Add</a>
        <a class="navegacion__enlace" href="#">Search</a>
    </nav>
</div>

<main class="contenedor">
    <div>
        <div>
            <h3>List of Animes</h3>

            <div th:if="${animes == null}">
                <p>Empty</p>
            </div>

            <div class="animes" th:if="${!animes.isEmpty()}">
                <div class="anime" th:each="currentAnime : ${animes}">
                    <a href="#">
                        <img th:src="${currentAnime.image}" th:alt="${currentAnime.name}">
                    </a>

                    <a href="#">
                        <div class="delete">Delete</div>
                    </a>

                    <a href="#">
                        <div class="edit">Edit</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer">Derechos reservados AnimeTracker</footer>

</body>
</html>