<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>AnimeTracker</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Outfit:wght@400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />
</head>
<body>
<header th:fragment="header">
    <a th:href="@{/api/v2/}">
        <h1>AnimeTracker</h1>
    </a>
</header>

<div class="nav-bg" th:fragment="nav">
    <nav class="navegacion">
        <a class="navegacion__enlace" th:href="@{anime/new}">New</a>
        <a class="navegacion__enlace" th:href="@{anime/search}">Search</a>
    </nav>
</div>

<main class="contenedor" th:fragment="main">
    <div>
        <h2>List of Animes</h2>

        <div th:if="${animes == null}">
            <p>Empty</p>
        </div>

        <div class="animes" th:if="${!animes.isEmpty()}">
            <div class="anime" th:each="currentAnime : ${animes}">
                <a th:href="@{anime/} + ${currentAnime.idAnime}">
                    <img th:src="${currentAnime.image}" th:alt="${currentAnime.name}">
                </a>

                <a th:href="@{anime/delete/} + ${currentAnime.idAnime}">
                    <div class="delete">Delete</div>
                </a>

                <a th:href="@{anime/edit/} + ${currentAnime.idAnime}">
                    <div class="edit">Edit</div>
                </a>
            </div>
        </div>
    </div>
</main>

<footer class="footer" th:fragment="footer">
    <p>Derechos reservados AnimeTracker</p>
</footer>

</body>
</html>
